header{
    display: flex;
    background-color: blue;
    justify-content: center;
    width: 100vw;
    margin-top: 0;
    height: 4rem;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    background-color: blue;
    justify-self: center;
    color: white;
    align-items: center;
    padding: 1rem;
    margin: 50px;
    width: 50vw;
    border-radius: 50px;
}
#submitButton{
    background-color: orange;
}
